body {
    background-color: rgba(212, 19, 186, 0.85);
}

#bodyContent {
    margin: auto;
    margin-top: 5%;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(77, 255, 0, 0.85);
    font-family: 'Sharp Sans Display No. 1';
    height: 80vh;
    text-align: center;
    width: 65vw;
}
